:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-bg-color: #ffffff;
  --background-color: #f5f4fa;
  --background-portfolio: #e5e5e5;
}

body {
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

.flexbox {
  display: flex;
}

a {
  text-decoration: none;
}

.page-header {
  padding-top: 24px;
  padding-bottom: 24px;
  background: #ffffff;
  border: 1px solid #ececec;
}

.page-header .flexbox {
  justify-content: flex-end;
  align-items: center;
}

.page-header .mail-link {
  margin-right: 50px;
}

.text-uppercase {
  text-transform: uppercase;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
}

.logo-header {
  color: var(--title-text-color);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  margin-right: 90px;
}

.navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}

/* site nav */
.site-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
}

.menu-item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link {
  color: var(--title-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.address .link {
  color: var(--primary-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.address .link:hover {
  color: var(--accent-color);
}

.address {
  display: flex;
}

/* Hero */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background: #2f303a;
  text-align: center;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  color: var(--primary-bg-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  letter-spacing: 0.06em;
}

.title {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--title-text-color);

  font-size: 14px;
  line-height: 1.14;
  width: 270px;
  margin-right: 30px;
}

.text {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  width: 270px;
  margin-right: 30px;
  color: var(--primary-text-color);
}

.text:nth-child(4n) {
  margin-right: 0;
}

/* button */
.hero-button {
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--primary-bg-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;

  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 32px;
}

.title-none {
  display: none;
}

.title-images {
  margin-top: 0;
  color: var(--title-text-color);
  font-size: 36px;
  line-height: 1.15;
  text-align: center;
}

.content-box {
  width: 370px;
  margin-right: 30px;
}

.content-box:nth-child(3n) {
  margin-right: 0;
}

.section {
  padding-top: 94px;

  color: var(--background-portfolio);
}

.section-jobs {
  padding-top: 94px;
  padding-bottom: 94px;

  color: var(--background-portfolio);
}

.section-command {
  padding-top: 94px;
  padding-bottom: 94px;
  background: #f5f4fa;
}

.title-names {
  margin-top: 30px;
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.text-work {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.grid-item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 270px;
  margin-right: 30px;
}

.grid-item:nth-child(4n) {
  margin-right: 0;
}

footer {
  background: #2f303a;
}

.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-footer {
  color: var(--primary-bg-color);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
}

.footer-location {
  color: var(--primary-bg-color);
}

.location-address {
  margin-top: 20px;
}

.footer-address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.mail-footer {
  margin-top: 9px;
  margin-bottom: 9px;
}

.footer-link {
  color: rgba(255, 255, 255, 0.6);
}

/* портофолио*/

.main {
  color: var(--background-portfolio);
}

.button-link {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--title-text-color);
  background: var(--background-color);
  border-radius: 4px;
  letter-spacing: 0.03em;
  padding: 6px 22px;
}

.button-link:hover,
.button-link:focus {
  color: var(--primary-bg-color);
  background: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.flexbox-bt {
  display: flex;
  justify-content: center;
  margin-top: 94px;
  margin-bottom: 50px;
}
h2 {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);

  margin-top: 20px;
  margin-bottom: 4px;
  margin-left: 24px;
}

.text-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  color: var(--primary-text-color);
  margin-top: 0;
  margin-bottom: 20px;
  margin-left: 24px;
}

.item {
  margin-right: 8px;
}

.item:nth-child(5n) {
  margin-right: 0;
}

.flex-conteiner {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin: -15px;
}

.works-item {
  margin: 15px;
  background: #ffffff;
  border: 1px solid #eeeeee;
}
